name: senzing-docker-compose-postgresql

services:
  makefile:
    container_name: senzing-makefile
    command:
      - sh
      - -c
      - mkdir /output/postgres_postgres.com || true; echo $${FILE_CONTENTS} > /output/postgres_postgres.com/servers.json;
    environment:
      FILE_CONTENTS: >-
        {
            "Servers": {
                "1": {
                    "Name": "senzing",
                    "Group": "Servers",
                    "Host": "senzing-postgres",
                    "Port": 5432,
                    "MaintenanceDB": "postgres",
                    "Username": "postgres",
                    "UseSSHTunnel": 0,
                    "TunnelPort": "22",
                    "TunnelAuthentication": 0,
                    "KerberosAuthentication": false,
                    "ConnectionParameters": {
                        "sslmode": "prefer",
                        "connect_timeout": 10,
                        "sslcert": "<STORAGE_DIR>/.postgresql/postgresql.crt",
                        "sslkey": "<STORAGE_DIR>/.postgresql/postgresql.key"
                    }
                }
            }
        }
    image: busybox:${SENZING_DOCKER_IMAGE_VERSION_BUSYBOX:-latest}
    networks:
      - senzing
    read_only: true
    user: ${SENZING_UID:-0}:${SENZING_GID:-0}
    volumes:
      - pgadmin-volume:/output

  postgres:
    container_name: senzing-postgres
    environment:
      # See https://github.com/bitnami/bitnami-docker-postgresql#configuration
      PGDATA: /var/lib/postgresql/data/pgdata
      POSTGRES_DB: ${POSTGRES_DB:-G2}
      POSTGRES_PASSWORD: ${POSTGRESQL_POSTGRES_PASSWORD:-postgres}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USERNAME:-postgres}"]
      interval: 10s
      timeout: 5s
      retries: 5
    image: postgres:${SENZING_DOCKER_IMAGE_VERSION_POSTGRES:-latest}
    networks:
      - senzing
    ports:
      - 5432:5432
    restart: always
    user: "${SENZING_UID:-0}:0"
    volumes:
      - postgres-volume:/var/lib/postgresql/data/pgdata

  postgres-init:
    container_name: senzing-postgres-init
    depends_on:
      - postgres
    environment:
      SENZING_TOOLS_DATABASE_URL: "postgresql://${POSTGRES_USERNAME:-postgres}:${POSTGRES_PASSWORD:-postgres}@${POSTGRES_HOST:-senzing-postgres}:${POSTGRES_PORT:-5432}/${POSTGRES_DB:-G2}/?sslmode=disable"
      SENZING_TOOLS_DATASOURCES: "CUSTOMERS, REFERENCE, WATCHLIST"
      SENZING_TOOLS_INSTALL_SENZING_ER_CONFIGURATION: "True"
    image: senzing/init-database:${SENZING_DOCKER_IMAGE_VERSION_SENZING_INIT_DATABASE:-latest}
    networks:
      - senzing
    restart: on-failure

  pgadmin:
    container_name: senzing-pgadmin
    depends_on:
      - makefile
    environment:
      # See https://www.pgadmin.org/docs/pgadmin4/latest/container_deployment.html
      PGADMIN_CONFIG_DEFAULT_SERVER: '"0.0.0.0"'
      PGADMIN_CONFIG_LOGIN_BANNER: |-
        "<h4>Senzing demonstration</h4>
        Although pgAdmin can be configured for security,
        <br/>the following credentials are used for demonstration.
        <ul>
          <li><b>Username:</b> postgres@postgres.com</li>
          <li><b>Password:</b> password</li>
        </ul>"
      PGADMIN_DEFAULT_EMAIL: postgres@postgres.com
      PGADMIN_DEFAULT_PASSWORD: password
      PGADMIN_SERVER_JSON_FILE: /var/lib/pgadmin/storage/postgres_postgres.com/servers.json
    image: dpage/pgadmin4:${SENZING_DOCKER_IMAGE_VERSION_DPAGE_PGADMIN4:-latest}
    networks:
      - senzing
    ports:
      - 9171:80
      - 9172:443
    restart: always
    user: ${SENZING_UID:-0}:${SENZING_GID:-0}
    volumes:
      - pgadmin-volume:/var/lib/pgadmin/storage

  senzingsdk-tools:
    cap_add:
      - ALL
    command: ["sleep", "infinity"]
    container_name: senzingsdk-tools
    environment:
      SENZING_ENGINE_CONFIGURATION_JSON: >-
        {
          "PIPELINE": {
            "CONFIGPATH": "/etc/opt/senzing",
            "LICENSESTRINGBASE64": "${SENZING_LICENSE_BASE64_ENCODED}",
            "RESOURCEPATH": "/opt/senzing/er/resources",
            "SUPPORTPATH": "/opt/senzing/data"
          },
          "SQL": {
            "BACKEND": "SQL",
            "CONNECTION": "postgresql://${POSTGRES_USERNAME:-postgres}:${POSTGRES_PASSWORD:-postgres}@${POSTGRES_HOST:-senzing-postgres}:${POSTGRES_PORT:-5432}:${POSTGRES_DB:-G2}/"
          }
        }
    image: senzing/senzingsdk-tools:${SENZING_DOCKER_IMAGE_VERSION_SENZING_SENZINGSDK_TOOLS:-latest}
    networks:
      - senzing
    restart: always
    user: ${SENZING_UID:-1001}:${SENZING_GID:-1001}
    volumes:
      - ${SENZING_VAR_DIR:-/var/opt/senzing}:/var/opt/senzing

networks:
  senzing:
    name: ${SENZING_DOCKER_NETWORK:-senzing-network}

volumes:
  pgadmin-volume:
  postgres-volume:
