name: senzing-docker-compose-postgresql

services:
  mysql:
    container_name: senzing-mysql
    environment:
      # See https://hub.docker.com/_/mysql/ "Environment Variables"
      MYSQL_DATABASE: G2
      MYSQL_PASSWORD: mysql
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: mysql
    image: mysql:${SENZING_DOCKER_IMAGE_VERSION_MYSQL:-latest}
    networks:
      - senzing
    ports:
      - 3306:3306
    restart: always

  mysql-init:
    container_name: senzing-mysql-init
    depends_on:
      - mysql
    environment:
      SENZING_TOOLS_DATABASE_URL: "mysql://mysql:mysql@senzing-mysql:3306/G2"
      # SENZING_TOOLS_DATASOURCES: "CUSTOMERS REFERENCE WATCHLIST"
      # SENZING_TOOLS_INSTALL_SENZING_ER_CONFIGURATION: "True"
    image: senzing/init-database:${SENZING_DOCKER_IMAGE_VERSION_SENZING_INIT_DATABASE:-latest}
    networks:
      - senzing
    restart: on-failure

  phpmyadmin:
    container_name: senzing-phpmyadmin
    depends_on:
      - mysql
    environment:
      # See https://hub.docker.com/_/phpmyadmin "Environment variables summary"
      MYSQL_ROOT_PASSWORD: password
      DATABASE_HOST: senzing-mysql
      PMA_HOST: senzing-mysql
      PMA_PORT: 3306
    image: phpmyadmin:${SENZING_DOCKER_IMAGE_VERSION_PHPMYADMIN:-latest}
    networks:
      - senzing
    ports:
      - 9173:80
    restart: always

  senzingsdk-tools:
    cap_add:
      - ALL
    command: ["sleep", "infinity"]
    container_name: senzingsdk-tools
    environment:
      SENZING_ENGINE_CONFIGURATION_JSON: >-
        {
          "PIPELINE": {
            "CONFIGPATH": "/etc/opt/senzing",
            "LICENSESTRINGBASE64": "${SENZING_LICENSE_BASE64_ENCODED}",
            "RESOURCEPATH": "/opt/senzing/er/resources",
            "SUPPORTPATH": "/opt/senzing/data"
          },
          "SQL": {
            "BACKEND": "SQL",
            "CONNECTION": "mysql://${MYSQL_USER:-mysql}:${MYSQL_PASSWORD:-mysql}@${MYSQL_HOST:-senzing-mysql}:${MYSQL_PORT:-3306}:${MYSQL_DATABASE:-G2}/"
          }
        }
    image: senzing/senzingsdk-tools:${SENZING_DOCKER_IMAGE_VERSION_SENZING_SENZINGSDK_TOOLS:-latest}
    networks:
      - senzing
    restart: always
    user: ${SENZING_UID:-1001}:${SENZING_GID:-1001}
    volumes:
      - ${SENZING_VAR_DIR:-/var/opt/senzing}:/var/opt/senzing

networks:
  senzing:
    name: ${SENZING_DOCKER_NETWORK:-senzing-network}
