name: senzing-docker-compose-postgresql-truthset-multi

services:
  postgres:
    container_name: "${COMPOSE_PROJECT_NAME}-senzing-postgres"
    environment:
      # See https://hub.docker.com/_/postgres "Environment Variables"
      PGDATA: /var/lib/postgresql/data/pgdata
      POSTGRES_DB: G2
      POSTGRES_PASSWORD: postgres
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
    image: postgres:${SENZING_DOCKER_IMAGE_VERSION_POSTGRES:-latest}
    networks:
      - senzing
    expose:
      - 5432
    profiles:
      - new
      - resume
    restart: always
    user: ${SENZING_UID:-0}:${SENZING_GID:-0}
    volumes:
      - postgres-volume:/var/lib/postgresql/data/pgdata

  postgres-init:
    container_name: "${COMPOSE_PROJECT_NAME}-senzing-postgres-init"
    depends_on:
      - postgres
    environment:
      SENZING_TOOLS_DATABASE_URL: "postgresql://postgres:postgres@${COMPOSE_PROJECT_NAME}-senzing-postgres:5432/G2/?sslmode=disable"
      SENZING_TOOLS_LOAD_TRUTHSET: "True"
    image: senzing/init-database:${SENZING_DOCKER_IMAGE_VERSION_SENZING_INIT_DATABASE:-latest}
    networks:
      - senzing
    profiles:
      - new
    restart: on-failure

  senzingsdk-tools:
    cap_add:
      - ALL
    command: ["sleep", "infinity"]
    container_name: "${COMPOSE_PROJECT_NAME}-senzingsdk-tools"
    environment:
      SENZING_ENGINE_CONFIGURATION_JSON: >-
        {
          "PIPELINE": {
            "CONFIGPATH": "/etc/opt/senzing",
            "LICENSESTRINGBASE64": "${SENZING_LICENSE_BASE64_ENCODED}",
            "RESOURCEPATH": "/opt/senzing/er/resources",
            "SUPPORTPATH": "/opt/senzing/data"
          },
          "SQL": {
            "BACKEND": "SQL",
            "CONNECTION": "postgresql://postgres:postgres@${COMPOSE_PROJECT_NAME}-senzing-postgres:5432:G2/"
          }
        }
    image: senzing/senzingsdk-tools:${SENZING_DOCKER_IMAGE_VERSION_SENZING_SENZINGSDK_TOOLS:-latest}
    networks:
      - senzing
    profiles:
      - new
      - resume
    restart: always
    user: ${SENZING_UID:-0}:${SENZING_GID:-0}
    volumes:
      - user-data-volume:/var/opt/senzing

networks:
  senzing:
    name: "${COMPOSE_PROJECT_NAME}-senzing-network"

volumes:
  postgres-volume:
  user-data-volume:
