name: senzing-docker-compose-sqlite-truthset

services:
  sqlite-web:
    container_name: senzing-sqlite-web
    environment:
      SQLITE_DATABASE: "G2C.db"
    image: coleifer/sqlite-web:${SENZING_DOCKER_IMAGE_VERSION_COLEIFER_SQLITE_WEB:-latest}
    networks:
      - senzing
    ports:
      - 9174:8080
    restart: always
    user: ${SENZING_UID:-0}:${SENZING_GID:-0}
    volumes:
      - sqlite-volume:/data

  sqlite-init:
    container_name: senzing-sqlite-init
    environment:
      SENZING_TOOLS_DATABASE_URL: "sqlite3://na:na@/data/G2C.db"
      SENZING_TOOLS_LOAD_TRUTHSET: "True"
    image: senzing/init-database:${SENZING_DOCKER_IMAGE_VERSION_SENZING_INIT_DATABASE:-latest}
    networks:
      - senzing
    user: ${SENZING_UID:-0}:${SENZING_GID:-0}
    volumes:
      - sqlite-volume:/data

  senzingsdk-tools:
    cap_add:
      - ALL
    command: ["sleep", "infinity"]
    container_name: senzingsdk-tools
    environment:
      SENZING_ENGINE_CONFIGURATION_JSON: >-
        {
          "PIPELINE": {
            "CONFIGPATH": "/etc/opt/senzing",
            "LICENSESTRINGBASE64": "${SENZING_LICENSE_BASE64_ENCODED}",
            "RESOURCEPATH": "/opt/senzing/er/resources",
            "SUPPORTPATH": "/opt/senzing/data"
          },
          "SQL": {
            "BACKEND": "SQL",
            "CONNECTION": "sqlite3://na:na@/data/G2C.db"
          }
        }
    image: senzing/senzingsdk-tools:${SENZING_DOCKER_IMAGE_VERSION_SENZING_SENZINGSDK_TOOLS:-latest}
    networks:
      - senzing
    restart: always
    user: ${SENZING_UID:-0}:${SENZING_GID:-0}
    volumes:
      - sqlite-volume:/data
      - user-data-volume:/var/opt/senzing

networks:
  senzing:
    name: ${SENZING_DOCKER_NETWORK:-senzing-network}

volumes:
  sqlite-volume:
  user-data-volume:
